body {
  background-image: url(/image/Pic_5.jpg);
}

main {
  background-color: white;
}

header {
  font-style: italic;
  text-align: center;
  background-color: #7c9169;
  padding: 10px;
}

section {
  background-color: #caddba;
  margin-top: 50px;
}

h2 {
  text-align: center;
}
