body {
  background-image: url(source/image/background.jpg);
}

main {
  background-color: #00ff00;
}

header {
  font-style: italic;
  text-align: center;
  background-color: #7c9169;
  padding: 10px;
}

section {
  background-color: #caddba;
  margin-top: 50px;
}

h2 {
  text-align: center;
}
